*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.content {
  min-height: calc(100vh - 100px);
}

/*__TEXT__*/
.heading {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #2f3132;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #2f3132;
}

/*__HEADER__*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3132;
  height: 100px;
}

.header__nav {
  display: flex;
}

.item__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.nav__item {
  display: inline;
  list-style-type: none;

  margin-right: 43px;
  padding-bottom: 7px;

  transition: linear 0.4s;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item:hover {
  border-bottom: 1px solid #ffffff;
}

.nav__item::before {
  border-left: 1px solid white;
}

/*__INTRO__*/

.intro {
  background: #e0e1e2;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.intro__heading {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.intro__logo {
  margin-top: -100px;
  position: relative;
}

.intro__button {
  margin-top: 49px;
  margin-bottom: 80px;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*__BLUETOOTH__*/

.bluetooth {
  background: #ededed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bluetooth__logo {
  padding-top: 80px;
}

.bluetooth__heading {
  padding-top: 35px;
}

.bluetooth__text {
  padding-top: 35px;
  padding-bottom: 60px;
  width: 761px;
}

.bluetooth__imgText {
  display: flex;
}
.bluetooth__img {
  display: flex;

  position: relative;
  bottom: 160px;
  right: 48px;
  gap: 45px;
}

.imgText__textOne {
  padding-top: 20px;
}

.color-change-2x path {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    fill: #19dcea;
  }
  100% {
    fill: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    fill: #19dcea;
  }
  100% {
    fill: #b22cff;
  }
}

/*__TABLE__*/

.table {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__heading {
  padding-top: 100px;
}

.table__text {
  padding-top: 35px;
  padding-bottom: 60px;
  width: 761px;
}

.table__blocks {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.block__one,
.block__two {
  border: 1px solid #2f3132;
  width: 240px;
  height: 140px;
  padding-top: 14px;
}

/*__SLIDER__*/

/*__DEVICES__*/

.devices {
  background: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.devices__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.info__heading {
  padding-bottom: 35px;
}
.info__text {
  width: 958px;
  padding-bottom: 35px;
}
.info__blocks {
  display: flex;
  padding-top: 35px;
  margin-bottom: 870px;
}

.blocks__text {
  border-left: 1px solid #494949;
  margin-left: 30px;
  padding-left: 30px;
}
.blocks__text:first-child {
  border-left: none;
}
/*__SETTINGS__*/

.settings {
  background: #ededed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings__heading {
  padding-top: 100px;
  padding-bottom: 38px;
}

.settings__text {
  margin-bottom: 72px;
  width: 958px;
}

.settings__block {
  background: #c4c4c4;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  width: 750px;
}

.block__icons {
  display: flex;
  margin-bottom: 38px;
  margin-top: 50px;
}

.icons__item {
  margin-right: 36px;
}

.icons__item:last-child {
  margin-right: 0px;
}

.icons__text {
  margin-bottom: 30px;
  color: #ffffff;
}

.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*__COMFORT__*/

.comfort {
  background: #ffffff;
}

.comfort__comf {
  display: flex;
  margin-top: 100px;
  margin-left: -85px;
}

.comfort__fast {
  display: flex;
  margin-bottom: 100px;
  margin-right: -85px;
}

.comf__comfText,
.fast__fastText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comf__comfText {
  margin-left: 30px;
}

.fast__fastText {
  margin-right: 30px;
}

.comfText__heading,
.fastText__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #2f3132;
  margin-bottom: 30px;
}

.fastText__heading {
  text-align: right;
}

.comfText__text,
.fastText__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  color: #2f3132;
}

.comfText__text {
  text-align: left;
}

/*__FOOTER__*/

.footer {
  background-color: #2f3132;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #c7c8c8;
}
